USE [master]
GO
/****** Object:  Database [PrestigeCars_3NF]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE DATABASE [PrestigeCars_3NF]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PrestigeCars_3NF', FILENAME = N'/var/opt/mssql/data/PrestigeCars_3NF.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PrestigeCars_3NF_log', FILENAME = N'/var/opt/mssql/data/PrestigeCars_3NF_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PrestigeCars_3NF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PrestigeCars_3NF]
GO
/****** Object:  Schema [Data]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [Data]
GO
/****** Object:  Schema [DataTransfer]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [DataTransfer]
GO
/****** Object:  Schema [Output]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [Output]
GO
/****** Object:  Schema [Process]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [Process]
GO
/****** Object:  Schema [Project2.5]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [Project2.5]
GO
/****** Object:  Schema [Reference]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [Reference]
GO
/****** Object:  Schema [SourceData]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE SCHEMA [SourceData]
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_Address]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_Address] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_BuyerComments]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_BuyerComments] FROM [nvarchar](4000) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_Color]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_Color] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_ColorID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_ColorID] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_Cost]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_Cost] FROM [money] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CountryID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CountryID] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CountryISO2]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CountryISO2] FROM [nchar](10) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CountryISO3]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CountryISO3] FROM [nchar](10) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CountryName]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CountryName] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CountryRef]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CountryRef] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CustomerID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CustomerID] FROM [nvarchar](5) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_CustomerName]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_CustomerName] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_DateBought]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_DateBought] FROM [date] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_InvoiceNumber]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_InvoiceNumber] FROM [char](8) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_IsCreditRisk]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_IsCreditRisk] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_IsReseller]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_IsReseller] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_IsRHD]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_IsRHD] FROM [bit] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_LineItemDiscount]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_LineItemDiscount] FROM [numeric](18, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_LineItemNumber]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_LineItemNumber] FROM [tinyint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_MakeCountry]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_MakeCountry] FROM [char](3) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_MakeID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_MakeID] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_MakeName]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_MakeName] FROM [nvarchar](100) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_ModelID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_ModelID] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_ModelName]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_ModelName] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_ModelRef]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_ModelRef] FROM [smallint] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_ModelVariant]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_ModelVariant] FROM [nvarchar](150) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_PartsCost]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_PartsCost] FROM [money] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_Region]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_Region] FROM [nvarchar](20) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_RepairsCost]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_RepairsCost] FROM [money] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_SaleDate]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_SaleDate] FROM [datetime] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_SalePrice]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_SalePrice] FROM [numeric](18, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_SalesDetailsID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_SalesDetailsID] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_SalesID]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_SalesID] FROM [int] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_StockCode]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_StockCode] FROM [nvarchar](50) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_TimeBought]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_TimeBought] FROM [time](7) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_TotalSalePrice]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_TotalSalePrice] FROM [numeric](18, 2) NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_TransportCost]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_TransportCost] FROM [money] NULL
GO
/****** Object:  UserDefinedDataType [dbo].[UDT_Year]    Script Date: 5/18/2025 3:46:38 PM ******/
CREATE TYPE [dbo].[UDT_Year] FROM [char](4) NULL
GO
/****** Object:  Table [DataTransfer].[Sales2015]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2015](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CountryName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL,
	[RepairsCost] [money] NOT NULL,
	[PartsCost] [money] NOT NULL,
	[TransportInCost] [money] NOT NULL,
	[SalePrice] [numeric](18, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2016]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2016](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CountryName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL,
	[RepairsCost] [money] NOT NULL,
	[PartsCost] [money] NOT NULL,
	[TransportInCost] [money] NOT NULL,
	[SalePrice] [numeric](18, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2017]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2017](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CountryName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL,
	[RepairsCost] [money] NOT NULL,
	[PartsCost] [money] NOT NULL,
	[TransportInCost] [money] NOT NULL,
	[SalePrice] [numeric](18, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [DataTransfer].[Sales2018]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataTransfer].[Sales2018](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CountryName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL,
	[RepairsCost] [money] NOT NULL,
	[PartsCost] [money] NOT NULL,
	[TransportInCost] [money] NOT NULL,
	[SalePrice] [numeric](18, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AllSales]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Credits: William

-- Views
-- Combines all yearly sales into one
CREATE   VIEW [dbo].[vw_AllSales] AS
SELECT *, 2015 AS SalesYear FROM DataTransfer.Sales2015
UNION ALL
SELECT *, 2016 AS SalesYear FROM DataTransfer.Sales2016
UNION ALL
SELECT *, 2017 AS SalesYear FROM DataTransfer.Sales2017
UNION ALL
SELECT *, 2018 AS SalesYear FROM DataTransfer.Sales2018;
GO
/****** Object:  Table [Reference].[MarketingCategories]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[MarketingCategories](
	[MakeName] [nvarchar](100) NOT NULL,
	[MarketingType] [nvarchar](200) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Output].[StockPrices]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Output].[StockPrices](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockWithMarketing]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Show car models, costs, and their marketing types
CREATE   VIEW [dbo].[vw_StockWithMarketing] AS
SELECT
    s.MakeName,
    s.ModelName,
    s.Cost,
    m.MarketingType
FROM Output.StockPrices s
LEFT JOIN Reference.MarketingCategories m ON s.MakeName = m.MakeName;
GO
/****** Object:  Table [Reference].[SalesBudgets]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[SalesBudgets](
	[SalesBudgetID] [dbo].[UDT_SalesID] IDENTITY(1,1) NOT NULL,
	[ColorID] [dbo].[UDT_ColorID] NOT NULL,
	[BudgetYear] [dbo].[UDT_Year] NOT NULL,
	[BudgetAmount] [dbo].[UDT_SalePrice] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesBudgetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_YearlyBudgetSummary]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Show budget details grouped by year
CREATE   VIEW [dbo].[vw_YearlyBudgetSummary] AS
SELECT
    BudgetYear,
    SUM(BudgetAmount) AS TotalBudget
FROM Reference.SalesBudgets
GROUP BY BudgetYear;
GO
/****** Object:  Table [Reference].[Forex]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Forex](
	[ExchangeDate] [date] NOT NULL,
	[ISOCurrency] [char](3) NOT NULL,
	[ExchangeRate] [money] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Forex]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Reference table views (simple)
CREATE   VIEW [dbo].[vw_Forex] AS
SELECT ExchangeDate, ISOCurrency, ExchangeRate
FROM Reference.Forex;
GO
/****** Object:  View [dbo].[vw_MarketingCategories]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_MarketingCategories] AS
SELECT MakeName, MarketingType
FROM Reference.MarketingCategories;
GO
/****** Object:  Table [Reference].[MarketingInformation]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[MarketingInformation](
	[CUST] [nvarchar](150) NOT NULL,
	[Country] [nchar](10) NOT NULL,
	[SpendCapacity] [varchar](25) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_MarketingInformation]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_MarketingInformation] AS
SELECT CUST, Country, SpendCapacity
FROM Reference.MarketingInformation;
GO
/****** Object:  View [dbo].[vw_SalesBudgets]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SalesBudgets] AS
SELECT SalesBudgetID, ColorID, BudgetYear, BudgetAmount
FROM Reference.SalesBudgets;
GO
/****** Object:  Table [Reference].[SalesCategory]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[SalesCategory](
	[LowerThreshold] [int] NOT NULL,
	[UpperThreshold] [int] NOT NULL,
	[CategoryDescription] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalesCategory]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SalesCategory] AS
SELECT LowerThreshold, UpperThreshold, CategoryDescription
FROM Reference.SalesCategory;
GO
/****** Object:  Table [Reference].[Staff]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Staff]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_Staff] AS
SELECT StaffID, StaffName, ManagerID, Department
FROM Reference.Staff;
GO
/****** Object:  Table [Reference].[StaffHierarchy]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[StaffHierarchy](
	[HierarchyReference] [hierarchyid] NULL,
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[StaffName] [nvarchar](50) NOT NULL,
	[ManagerID] [int] NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StaffHierarchy]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_StaffHierarchy] AS
SELECT HierarchyReference, StaffID, StaffName, ManagerID, Department
FROM Reference.StaffHierarchy;
GO
/****** Object:  Table [Reference].[YearlySales]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[YearlySales](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[CustomerName] [nvarchar](150) NOT NULL,
	[CountryName] [nvarchar](150) NOT NULL,
	[Cost] [money] NOT NULL,
	[RepairsCost] [money] NOT NULL,
	[PartsCost] [money] NOT NULL,
	[TransportInCost] [money] NOT NULL,
	[SalePrice] [numeric](18, 2) NOT NULL,
	[SaleDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_YearlySales]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_YearlySales] AS
SELECT MakeName, ModelName, CustomerName, CountryName, Cost, RepairsCost, PartsCost, TransportInCost, SalePrice, SaleDate
FROM Reference.YearlySales;
GO
/****** Object:  Table [SourceData].[SalesInPounds]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SourceData].[SalesInPounds](
	[MakeName] [nvarchar](100) NOT NULL,
	[ModelName] [nvarchar](150) NOT NULL,
	[VehicleCost] [varchar](51) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalesInPounds]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SalesInPounds] AS
SELECT MakeName, ModelName, VehicleCost
FROM SourceData.SalesInPounds;
GO
/****** Object:  Table [SourceData].[SalesText]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SourceData].[SalesText](
	[CountryName] [nvarchar](150) NOT NULL,
	[MakeName] [nvarchar](100) NOT NULL,
	[Cost] [varchar](20) NOT NULL,
	[SalePrice] [varchar](20) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SalesText]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   VIEW [dbo].[vw_SalesText] AS
SELECT CountryName, MakeName, Cost, SalePrice
FROM SourceData.SalesText;
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetAllSales]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ITVFs (inline table-valued functions)
-- Get all sales from 2015 to 2018
CREATE   FUNCTION [dbo].[fn_GetAllSales]()
RETURNS TABLE
AS
RETURN
(
    SELECT *, 2015 AS SalesYear FROM DataTransfer.Sales2015
    UNION ALL
    SELECT *, 2016 AS SalesYear FROM DataTransfer.Sales2016
    UNION ALL
    SELECT *, 2017 AS SalesYear FROM DataTransfer.Sales2017
    UNION ALL
    SELECT *, 2018 AS SalesYear FROM DataTransfer.Sales2018
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StockPricesByMake]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Function to filter StockPrices by Make
CREATE   FUNCTION [dbo].[fn_StockPricesByMake] (@MakeName NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MakeName, ModelName, Cost
    FROM Output.StockPrices
    WHERE MakeName = @MakeName
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SalesBudgetsByYear]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Function to get SalesBudgets entries by Year
CREATE   FUNCTION [dbo].[fn_SalesBudgetsByYear] (@BudgetYear INT)
RETURNS TABLE
AS
RETURN (
    SELECT SalesBudgetID, ColorID, BudgetYear, BudgetAmount
    FROM Reference.SalesBudgets
    WHERE BudgetYear = @BudgetYear
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ForexByCurrency]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Function to filter Forex by currency code
CREATE   FUNCTION [dbo].[fn_ForexByCurrency] (@ISOCurrency CHAR(3))
RETURNS TABLE
AS
RETURN (
    SELECT ExchangeDate, ISOCurrency, ExchangeRate
    FROM Reference.Forex
    WHERE ISOCurrency = @ISOCurrency
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MarketingCategoriesByMake]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter MarketingCategories by make name
CREATE   FUNCTION [dbo].[fn_MarketingCategoriesByMake] (@MakeName NVARCHAR(100))
RETURNS TABLE
AS
RETURN (
    SELECT MakeName, MarketingType
    FROM Reference.MarketingCategories
    WHERE MakeName = @MakeName
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_MarketingInfoByCountry]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter MarketingInfo by country code
CREATE   FUNCTION [dbo].[fn_MarketingInfoByCountry] (@Country NCHAR(10))
RETURNS TABLE
AS
RETURN (
    SELECT CUST, Country, SpendCapacity
    FROM Reference.MarketingInformation
    WHERE Country = @Country
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SalesCategoryByValue]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Find SalesCategory by value threshold
CREATE   FUNCTION [dbo].[fn_SalesCategoryByValue] (@Value INT)
RETURNS TABLE
AS
RETURN (
    SELECT LowerThreshold, UpperThreshold, CategoryDescription
    FROM Reference.SalesCategory
    WHERE @Value BETWEEN LowerThreshold AND UpperThreshold
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StaffByDepartment]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter Staff by Department
CREATE   FUNCTION [dbo].[fn_StaffByDepartment] (@Department NVARCHAR(50))
RETURNS TABLE
AS
RETURN (
    SELECT StaffID, StaffName, ManagerID, Department
    FROM Reference.Staff
    WHERE Department = @Department
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_StaffHierarchyByManager]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter StaffHierarchy by Manager
CREATE   FUNCTION [dbo].[fn_StaffHierarchyByManager] (@ManagerID INT)
RETURNS TABLE
AS
RETURN (
    SELECT HierarchyReference, StaffID, StaffName, ManagerID, Department
    FROM Reference.StaffHierarchy
    WHERE ManagerID = @ManagerID
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_YearlySalesByDateRange]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter YearlySales by date range
CREATE   FUNCTION [dbo].[fn_YearlySalesByDateRange] (
    @StartDate DATETIME,
    @EndDate DATETIME
)
RETURNS TABLE
AS
RETURN (
    SELECT MakeName, ModelName, CustomerName, CountryName, Cost, RepairsCost, PartsCost, TransportInCost, SalePrice, SaleDate
    FROM Reference.YearlySales
    WHERE SaleDate BETWEEN @StartDate AND @EndDate
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SalesInPoundsByMakeModel]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter SalesInPounds by Make/Model
CREATE   FUNCTION [dbo].[fn_SalesInPoundsByMakeModel] (
    @MakeName NVARCHAR(100),
    @ModelName NVARCHAR(150)
)
RETURNS TABLE
AS
RETURN (
    SELECT MakeName, ModelName, VehicleCost
    FROM SourceData.SalesInPounds
    WHERE MakeName = @MakeName
      AND ModelName = @ModelName
);
GO
/****** Object:  UserDefinedFunction [dbo].[fn_SalesTextByCountryMake]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Filter SalesText by Country and Make
CREATE   FUNCTION [dbo].[fn_SalesTextByCountryMake] (
    @CountryName NVARCHAR(150),
    @MakeName NVARCHAR(100)
)
RETURNS TABLE
AS
RETURN (
    SELECT CountryName, MakeName, Cost, SalePrice
    FROM SourceData.SalesText
    WHERE CountryName = @CountryName
      AND MakeName = @MakeName
);
GO
/****** Object:  Table [Data].[Customer]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Customer](
	[CustomerID] [dbo].[UDT_CustomerID] NOT NULL,
	[CustomerName] [dbo].[UDT_CustomerName] NOT NULL,
	[Address1] [dbo].[UDT_Address] NOT NULL,
	[Address2] [dbo].[UDT_Address] NOT NULL,
	[Town] [dbo].[UDT_Address] NOT NULL,
	[PostCode] [dbo].[UDT_CountryISO2] NOT NULL,
	[CountryID] [dbo].[UDT_CountryRef] NOT NULL,
	[IsReseller] [dbo].[UDT_IsReseller] NOT NULL,
	[IsCreditRisk] [dbo].[UDT_IsCreditRisk] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Make]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Make](
	[MakeID] [dbo].[UDT_MakeID] IDENTITY(1,1) NOT NULL,
	[MakeName] [dbo].[UDT_MakeName] NOT NULL,
	[CountryID] [dbo].[UDT_CountryRef] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MakeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Model]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Model](
	[ModelID] [dbo].[UDT_ModelID] IDENTITY(1,1) NOT NULL,
	[MakeID] [dbo].[UDT_MakeID] NOT NULL,
	[ModelName] [dbo].[UDT_ModelName] NOT NULL,
	[ModelVariant] [dbo].[UDT_ModelVariant] NOT NULL,
	[YearFirstProduced] [dbo].[UDT_Year] NOT NULL,
	[YearLastProduced] [dbo].[UDT_Year] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ModelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[PivotTable]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[PivotTable](
	[ColorID] [dbo].[UDT_ColorID] NOT NULL,
	[2015] [dbo].[UDT_SalePrice] NOT NULL,
	[2016] [dbo].[UDT_SalePrice] NOT NULL,
	[2017] [dbo].[UDT_SalePrice] NOT NULL,
	[2018] [dbo].[UDT_SalePrice] NOT NULL,
 CONSTRAINT [PK_PivotTable] PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Sales]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Sales](
	[SalesID] [dbo].[UDT_SalesID] NOT NULL,
	[CustomerID] [dbo].[UDT_CustomerID] NOT NULL,
	[InvoiceNumber] [dbo].[UDT_InvoiceNumber] NOT NULL,
	[TotalSalePrice] [dbo].[UDT_TotalSalePrice] NOT NULL,
	[SaleDate] [dbo].[UDT_SaleDate] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[SalesDetails]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[SalesDetails](
	[SalesDetailsID] [dbo].[UDT_SalesDetailsID] IDENTITY(1,1) NOT NULL,
	[SalesID] [dbo].[UDT_SalesID] NOT NULL,
	[LineItemNumber] [dbo].[UDT_LineItemNumber] NOT NULL,
	[StockID] [dbo].[UDT_StockCode] NOT NULL,
	[SalePrice] [dbo].[UDT_SalePrice] NOT NULL,
	[LineItemDiscount] [dbo].[UDT_LineItemDiscount] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesDetailsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Data].[Stock]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Data].[Stock](
	[StockCode] [dbo].[UDT_StockCode] NOT NULL,
	[ModelID] [dbo].[UDT_ModelID] NOT NULL,
	[Cost] [dbo].[UDT_Cost] NOT NULL,
	[RepairsCost] [dbo].[UDT_RepairsCost] NOT NULL,
	[PartsCost] [dbo].[UDT_PartsCost] NOT NULL,
	[TransportInCost] [dbo].[UDT_TransportCost] NOT NULL,
	[IsRHD] [dbo].[UDT_IsRHD] NOT NULL,
	[ColorID] [dbo].[UDT_ColorID] NOT NULL,
	[BuyerComments] [dbo].[UDT_BuyerComments] NOT NULL,
	[DateBought] [dbo].[UDT_DateBought] NOT NULL,
	[TimeBought] [dbo].[UDT_TimeBought] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StockCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Budget]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Budget](
	[BudgetKey] [int] IDENTITY(1,1) NOT NULL,
	[BudgetValue] [money] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [tinyint] NOT NULL,
	[BudgetDetail] [nvarchar](50) NOT NULL,
	[BudgetElement] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BudgetKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Color]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Color](
	[ColorID] [dbo].[UDT_ColorID] IDENTITY(1,1) NOT NULL,
	[Color] [dbo].[UDT_Color] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Reference].[Country]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reference].[Country](
	[CountryID] [dbo].[UDT_CountryID] IDENTITY(1,1) NOT NULL,
	[CountryName] [dbo].[UDT_CountryName] NOT NULL,
	[CountryISO2] [dbo].[UDT_CountryISO2] NOT NULL,
	[CountryISO3] [dbo].[UDT_CountryISO3] NOT NULL,
	[SalesRegion] [dbo].[UDT_Region] NOT NULL,
	[CountryFlag] [varbinary](max) NULL,
	[FlagFileName] [nvarchar](50) NOT NULL,
	[FlagFileType] [nchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [SourceData].[SalesInPounds_Cleaned]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [SourceData].[SalesInPounds_Cleaned](
	[SalesInPoundsID] [dbo].[UDT_SalesID] IDENTITY(1,1) NOT NULL,
	[CustomerID] [dbo].[UDT_CustomerID] NOT NULL,
	[StockID] [dbo].[UDT_StockCode] NOT NULL,
	[SaleDate] [dbo].[UDT_SaleDate] NOT NULL,
	[SalePriceGBP] [dbo].[UDT_SalePrice] NOT NULL,
	[ConvertedUSD] [dbo].[UDT_SalePrice] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesInPoundsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ('') FOR [Address1]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ('') FOR [Address2]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ('Unknown') FOR [Town]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ('') FOR [PostCode]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ((0)) FOR [IsReseller]
GO
ALTER TABLE [Data].[Customer] ADD  DEFAULT ((0)) FOR [IsCreditRisk]
GO
ALTER TABLE [Data].[Make] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [Data].[Make] ADD  DEFAULT ((0)) FOR [CountryID]
GO
ALTER TABLE [Data].[Model] ADD  DEFAULT ((0)) FOR [MakeID]
GO
ALTER TABLE [Data].[Model] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [Data].[Model] ADD  DEFAULT ('') FOR [ModelVariant]
GO
ALTER TABLE [Data].[Model] ADD  DEFAULT ('') FOR [YearFirstProduced]
GO
ALTER TABLE [Data].[Model] ADD  DEFAULT ('') FOR [YearLastProduced]
GO
ALTER TABLE [Data].[PivotTable] ADD  DEFAULT ((0)) FOR [2015]
GO
ALTER TABLE [Data].[PivotTable] ADD  DEFAULT ((0)) FOR [2016]
GO
ALTER TABLE [Data].[PivotTable] ADD  DEFAULT ((0)) FOR [2017]
GO
ALTER TABLE [Data].[PivotTable] ADD  DEFAULT ((0)) FOR [2018]
GO
ALTER TABLE [Data].[Sales] ADD  DEFAULT ('') FOR [InvoiceNumber]
GO
ALTER TABLE [Data].[Sales] ADD  DEFAULT ((0)) FOR [TotalSalePrice]
GO
ALTER TABLE [Data].[Sales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [Data].[SalesDetails] ADD  DEFAULT ((0)) FOR [LineItemNumber]
GO
ALTER TABLE [Data].[SalesDetails] ADD  DEFAULT ('') FOR [StockID]
GO
ALTER TABLE [Data].[SalesDetails] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [Data].[SalesDetails] ADD  DEFAULT ((0)) FOR [LineItemDiscount]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [ModelID]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [IsRHD]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ((0)) FOR [ColorID]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ('') FOR [BuyerComments]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT (getdate()) FOR [DateBought]
GO
ALTER TABLE [Data].[Stock] ADD  DEFAULT ('00:00:00') FOR [TimeBought]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [DataTransfer].[Sales2015] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [DataTransfer].[Sales2016] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [DataTransfer].[Sales2017] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [DataTransfer].[Sales2018] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [Output].[StockPrices] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [Output].[StockPrices] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [Output].[StockPrices] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [Reference].[Budget] ADD  DEFAULT ((0)) FOR [BudgetValue]
GO
ALTER TABLE [Reference].[Budget] ADD  DEFAULT ((0)) FOR [Year]
GO
ALTER TABLE [Reference].[Budget] ADD  DEFAULT ((0)) FOR [Month]
GO
ALTER TABLE [Reference].[Budget] ADD  DEFAULT ('') FOR [BudgetDetail]
GO
ALTER TABLE [Reference].[Budget] ADD  DEFAULT ('') FOR [BudgetElement]
GO
ALTER TABLE [Reference].[Color] ADD  DEFAULT ('') FOR [Color]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [CountryISO2]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [CountryISO3]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [SalesRegion]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [FlagFileName]
GO
ALTER TABLE [Reference].[Country] ADD  DEFAULT ('') FOR [FlagFileType]
GO
ALTER TABLE [Reference].[Forex] ADD  DEFAULT (getdate()) FOR [ExchangeDate]
GO
ALTER TABLE [Reference].[Forex] ADD  DEFAULT ('') FOR [ISOCurrency]
GO
ALTER TABLE [Reference].[Forex] ADD  DEFAULT ((0)) FOR [ExchangeRate]
GO
ALTER TABLE [Reference].[MarketingCategories] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [Reference].[MarketingCategories] ADD  DEFAULT ('') FOR [MarketingType]
GO
ALTER TABLE [Reference].[MarketingInformation] ADD  DEFAULT ('') FOR [CUST]
GO
ALTER TABLE [Reference].[MarketingInformation] ADD  DEFAULT ('') FOR [Country]
GO
ALTER TABLE [Reference].[MarketingInformation] ADD  DEFAULT ('') FOR [SpendCapacity]
GO
ALTER TABLE [Reference].[SalesBudgets] ADD  DEFAULT ('') FOR [BudgetYear]
GO
ALTER TABLE [Reference].[SalesBudgets] ADD  DEFAULT ((0)) FOR [BudgetAmount]
GO
ALTER TABLE [Reference].[SalesCategory] ADD  DEFAULT ((0)) FOR [LowerThreshold]
GO
ALTER TABLE [Reference].[SalesCategory] ADD  DEFAULT ((0)) FOR [UpperThreshold]
GO
ALTER TABLE [Reference].[SalesCategory] ADD  DEFAULT ('') FOR [CategoryDescription]
GO
ALTER TABLE [Reference].[Staff] ADD  DEFAULT ('') FOR [StaffName]
GO
ALTER TABLE [Reference].[Staff] ADD  DEFAULT ((0)) FOR [ManagerID]
GO
ALTER TABLE [Reference].[Staff] ADD  DEFAULT ('') FOR [Department]
GO
ALTER TABLE [Reference].[StaffHierarchy] ADD  DEFAULT ('') FOR [StaffName]
GO
ALTER TABLE [Reference].[StaffHierarchy] ADD  DEFAULT ((0)) FOR [ManagerID]
GO
ALTER TABLE [Reference].[StaffHierarchy] ADD  DEFAULT ('') FOR [Department]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ('') FOR [CustomerName]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ((0)) FOR [Cost]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ((0)) FOR [RepairsCost]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ((0)) FOR [PartsCost]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ((0)) FOR [TransportInCost]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [Reference].[YearlySales] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [SourceData].[SalesInPounds] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [SourceData].[SalesInPounds] ADD  DEFAULT ('') FOR [ModelName]
GO
ALTER TABLE [SourceData].[SalesInPounds] ADD  DEFAULT ('') FOR [VehicleCost]
GO
ALTER TABLE [SourceData].[SalesInPounds_Cleaned] ADD  DEFAULT ('') FOR [CustomerID]
GO
ALTER TABLE [SourceData].[SalesInPounds_Cleaned] ADD  DEFAULT ('') FOR [StockID]
GO
ALTER TABLE [SourceData].[SalesInPounds_Cleaned] ADD  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [SourceData].[SalesInPounds_Cleaned] ADD  DEFAULT ((0)) FOR [SalePriceGBP]
GO
ALTER TABLE [SourceData].[SalesInPounds_Cleaned] ADD  DEFAULT ((0)) FOR [ConvertedUSD]
GO
ALTER TABLE [SourceData].[SalesText] ADD  DEFAULT ('') FOR [CountryName]
GO
ALTER TABLE [SourceData].[SalesText] ADD  DEFAULT ('') FOR [MakeName]
GO
ALTER TABLE [SourceData].[SalesText] ADD  DEFAULT ('') FOR [Cost]
GO
ALTER TABLE [SourceData].[SalesText] ADD  DEFAULT ('') FOR [SalePrice]
GO
ALTER TABLE [Data].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_Country] FOREIGN KEY([CountryID])
REFERENCES [Reference].[Country] ([CountryID])
GO
ALTER TABLE [Data].[Customer] CHECK CONSTRAINT [FK_Customer_Country]
GO
ALTER TABLE [Data].[Make]  WITH CHECK ADD  CONSTRAINT [FK_Make_Country] FOREIGN KEY([CountryID])
REFERENCES [Reference].[Country] ([CountryID])
GO
ALTER TABLE [Data].[Make] CHECK CONSTRAINT [FK_Make_Country]
GO
ALTER TABLE [Data].[Model]  WITH CHECK ADD  CONSTRAINT [FK_Model_Make] FOREIGN KEY([MakeID])
REFERENCES [Data].[Make] ([MakeID])
GO
ALTER TABLE [Data].[Model] CHECK CONSTRAINT [FK_Model_Make]
GO
ALTER TABLE [Data].[PivotTable]  WITH CHECK ADD  CONSTRAINT [FK_PivotTable_Color] FOREIGN KEY([ColorID])
REFERENCES [Reference].[Color] ([ColorID])
GO
ALTER TABLE [Data].[PivotTable] CHECK CONSTRAINT [FK_PivotTable_Color]
GO
ALTER TABLE [Data].[Sales]  WITH CHECK ADD  CONSTRAINT [FK_Sales_Customer] FOREIGN KEY([CustomerID])
REFERENCES [Data].[Customer] ([CustomerID])
GO
ALTER TABLE [Data].[Sales] CHECK CONSTRAINT [FK_Sales_Customer]
GO
ALTER TABLE [Data].[SalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesDetails_Sales] FOREIGN KEY([SalesID])
REFERENCES [Data].[Sales] ([SalesID])
GO
ALTER TABLE [Data].[SalesDetails] CHECK CONSTRAINT [FK_SalesDetails_Sales]
GO
ALTER TABLE [Data].[SalesDetails]  WITH CHECK ADD  CONSTRAINT [FK_SalesDetails_Stock] FOREIGN KEY([StockID])
REFERENCES [Data].[Stock] ([StockCode])
GO
ALTER TABLE [Data].[SalesDetails] CHECK CONSTRAINT [FK_SalesDetails_Stock]
GO
ALTER TABLE [Data].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Color] FOREIGN KEY([ColorID])
REFERENCES [Reference].[Color] ([ColorID])
GO
ALTER TABLE [Data].[Stock] CHECK CONSTRAINT [FK_Stock_Color]
GO
ALTER TABLE [Data].[Stock]  WITH CHECK ADD  CONSTRAINT [FK_Stock_Model] FOREIGN KEY([ModelID])
REFERENCES [Data].[Model] ([ModelID])
GO
ALTER TABLE [Data].[Stock] CHECK CONSTRAINT [FK_Stock_Model]
GO
ALTER TABLE [Reference].[SalesBudgets]  WITH CHECK ADD  CONSTRAINT [FK_SalesBudgets_Color] FOREIGN KEY([ColorID])
REFERENCES [Reference].[Color] ([ColorID])
GO
ALTER TABLE [Reference].[SalesBudgets] CHECK CONSTRAINT [FK_SalesBudgets_Color]
GO
/****** Object:  StoredProcedure [Process].[usp_TrackWorkFlow]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Process].[usp_TrackWorkFlow]
    @WorkFlowStepDescription NVARCHAR(100),
    @UserAuthorizationKey INT,
    @WorkFlowStepTableRowCount INT
AS
BEGIN
    -- Stub: In a real system, log or track workflow steps here
    PRINT 'Workflow: ' + @WorkFlowStepDescription;
END;
GO
/****** Object:  StoredProcedure [Project2.5].[DropForeignKeysFromStarSchemaData]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Project2.5].[DropForeignKeysFromStarSchemaData]
    @UserAuthorizationKey INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @ForeignKeyName VARCHAR(255);
    DECLARE @TableName NVARCHAR(255);
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE ForeignKeyCursor CURSOR FOR 
        SELECT fk.name as ForeignKeyName,
               QUOTENAME(OBJECT_SCHEMA_NAME(fk.parent_object_id)) + '.' + t.name as TableName
        FROM sys.foreign_keys AS fk
        INNER JOIN sys.tables AS t 
            ON fk.parent_object_id = t.object_id;

    OPEN ForeignKeyCursor;
    FETCH NEXT FROM ForeignKeyCursor INTO @ForeignKeyName, @TableName;
    WHILE @@FETCH_STATUS = 0 
    BEGIN
        SET @SQL = 'ALTER TABLE ' + @TableName + ' DROP CONSTRAINT ' + QUOTENAME(@ForeignKeyName) + ';';
        EXEC(@SQL);
        FETCH NEXT FROM ForeignKeyCursor INTO @ForeignKeyName, @TableName;
    END

    CLOSE ForeignKeyCursor;
    DEALLOCATE ForeignKeyCursor;

    -- Log workflow step
    EXEC [Process].[usp_TrackWorkFlow]
         @WorkFlowStepDescription = 'Drop Foreign Keys.',
         @UserAuthorizationKey = @UserAuthorizationKey,
         @WorkFlowStepTableRowCount = -1;
END;
GO
/****** Object:  StoredProcedure [Project2.5].[TruncateStarSchemaData]    Script Date: 5/18/2025 3:46:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [Project2.5].[TruncateStarSchemaData]
    @UserAuthorizationKey INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE TableCursor CURSOR FOR
        SELECT DISTINCT '[' + TABLE_SCHEMA + '].[' + TABLE_NAME + ']' as FullyQualifiedTableName
        FROM INFORMATION_SCHEMA.TABLES
        WHERE TABLE_TYPE = 'BASE TABLE' AND TABLE_SCHEMA LIKE 'Project3%';  -- adjust schema filter as needed

    OPEN TableCursor;
    DECLARE @TableName NVARCHAR(255);
    DECLARE @SQL NVARCHAR(MAX);

    FETCH NEXT FROM TableCursor INTO @TableName;
    WHILE @@FETCH_STATUS = 0
    BEGIN
        SET @SQL = 'TRUNCATE TABLE ' + @TableName;
        EXEC(@SQL);
        FETCH NEXT FROM TableCursor INTO @TableName;
    END

    CLOSE TableCursor;
    DEALLOCATE TableCursor;

    -- Log workflow step (requires Process.usp_TrackWorkFlow)
    EXEC [Process].[usp_TrackWorkFlow]
         @WorkFlowStepDescription = 'Truncate Star Schema Data.',
         @UserAuthorizationKey = @UserAuthorizationKey,
         @WorkFlowStepTableRowCount = -1;
END;
GO
USE [master]
GO
